<div style="">
  <img width="800" style="position: relative; " src="../assets/background.png" />
  <div [class.wobble-hor-bottom]="css_hit" [class.rotate-center]="css_rotatecenter"
    [class.rotate-hor-top]="css_rotatehortop" style="width: fit-content; position: absolute; top: 250px; left: 350px;">
    <img [@bounce]="ng_bounce" [@shake]="ng_shake" [@flip]="ng_flip" [@death]="ng_death" [@attack]="ng_attack"
      [@attack]="ng_attack" id="slimeyId" class="slime" width="150" src="../assets/slimeyWithBorder.png" />
  </div>
</div>
<div style="padding: 20px">
  <button *ngIf="!slimeIsPresent" mat-raised-button color="accent" (click)="spawn()">Spawn</button>
  <button *ngIf="slimeIsPresent" mat-raised-button color="accent" (click)="death()">Death</button>
  <button *ngIf="slimeIsPresent" mat-raised-button color="accent" (click)="attack()">Attack</button>
  <button *ngIf="slimeIsPresent" mat-raised-button color="accent" (click)="hit()">Hit</button>
  <button *ngIf="slimeIsPresent" mat-raised-button color="accent" (click)="BounceShakeFlip()">Bounce/Shake/Filp</button>
  <button *ngIf="slimeIsPresent" mat-raised-button color="accent" (click)="Spin()">Infinite Triple Spin</button>
</div>